div#confirmDialog div.MuiDialog-paper div.MuiDialogTitle-root {
  margin-right: 25px;
}

div#confirmDialog div.MuiDialog-paper button.closeDialog {
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
}

div#confirmDialog div.MuiDialog-paper button.close {
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
}

div#confirmDialog div.MuiDialog-paper button.modalConfirm {
  outline: none;
  background-color: rgb(0, 123, 255);
  color: white;
}

div#confirmDialog div.MuiDialog-paper button.modalCancel{
  outline: none;
  background-color: rgb(108, 117, 125);
  color: white;
}
