div#header div#menuNav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0.3rem 0;
}

div#header div#menuNav span.menuItem a {
  text-decoration: none;
  outline: none;
  padding: 0.5rem 1rem;

  transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
}

div#header div#menuNav span.menuItem a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

div#header div#spaceNav {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  white-space: nowrap;
}

div#header div#spaceNav div.spaceNavItem a {
  text-decoration: none;
  outline: none;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  display: inline-block;
  width: 100%;

  transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
}

div#header div#spaceNav div.spaceNavItem a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

div#header div#spaceNav div.spaceNavItem a.active {
    background-color: rgba(0, 0, 0, 0.1);
    pointer-events: none;
    border: 1px solid rgba(0, 0, 0.1);
}
