ul#header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  /* background-color: rgba(0, 0, 0, 0.7); */
}

ul#header li.nav-item a {
  /* color: white; */
  text-decoration: none;
  display: block;
  padding: .5rem 1rem;
}

ul#header li.nav-item a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
