div#home form#getSpaceByName {
  text-align: center;
}

div#home form#getSpaceByName input {
  /* padding: 1rem; */
}

div#home form#getSpaceByName div.MuiOutlinedInput-root {
  border-top-right-radius: 0;
  -moz-top-right-radius: 0;
  -webkit-top-right-radius: 0;

  border-bottom-right-radius: 0;
  -moz-bottom-right-radius: 0;
  -webkit-bottom-right-radius: 0;
}

div#home form#getSpaceByName button {
  outline: none;
}

div#home div#errorBlock {
  text-align: center;
}
