div#home form#getSpaceByName {
  text-align: center;
}

div#home form#getSpaceByName input {
  /* padding: 1rem; */
}

div#home form#getSpaceByName div.textFieldWButton {
  display: inline-flex;
}

div#home form#getSpaceByName div.MuiOutlinedInput-root {
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  -webkit-border-top-right-radius: 0;

  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
}

div#home form#getSpaceByName button {
  outline: none;
  margin-left: -1px;

  border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  -webkit-border-top-left-radius: 0;

  border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
}

div#home div#errorBlock {
  text-align: center;
}
