div#pollSpace {
  div.poll {
    border: 1px solid black;
    padding: 10px;
    margin: 7px;
    display: inline-block;
  }

  div.pollStatement {
    span.userName {
      font-style: italic;
    }
  }

  div.pollAnswers {
    margin-top: 5px;

    button {
      font-size: 0.75rem;
    }

    button.accept {
      outline: none;
      background-color: rgb(40, 167, 69);
      color: white;
    }

    button.decline {
      outline: none;
      background-color: rgb(220,53,69);
      color: white;
    }
  }
}
