@import 'globals';

div#sidebarContainer {
  div.MuiPaper-root {
    border-right: 1px solid $mound-bg-white;
  }
}

div#sidebar {
  height: 100%;
  z-index: 0;
  background-color: $mound-bg-black;

  div.logo {
    padding: 1rem;
    text-align: center;
    color: white;

    a {
      text-decoration: none;
      outline: none;
    }
  }

  div.menuItem {
    padding: 1rem;
    text-align: center;

    a {
      text-decoration: none;
      outline: none;
      color: white;
    }
  }

  div.menuItem.clear {
    bottom: 0px;
    position: absolute;
    color: white;
  }

  div.spaceNav {
    text-align: center;
    border: 2px solid $mound-bg-white;
    border-right: none;
    border-left: none;
    white-space: nowrap;

    div.spaceNavItem {
      a {
        text-decoration: none;
        outline: none;
        padding: 0.5rem 1rem;
        border: 1px solid transparent;
        display: inline-block;
        width: 100%;
        color: white;

        @include transition(background-color, 0.5s);
      }

      a:hover {
        background-color: $mound-hover-white;
      }

      a.active {
        background-color: $mound-bg-white;
        color: black;
        pointer-events: none;
      }
    }
  }
}
