div#sidebar {
  height: 100%;
  z-index: 0;
}

div#sidebar div.logo {
  padding: 1rem;
  text-align: center;
}

div#sidebar div.logo a {
  text-decoration: none;
  outline: none;
}

div#sidebar div.menuItem {
  padding: 1rem;
  text-align: center;
}

div#sidebar div.menuItem.clear {
  bottom: 0px;
  position: absolute;
}

div#sidebar div.menuItem a {
  text-decoration: none;
  outline: none;
  color: rgb(75, 75, 75);
}

div#sidebar div.spaceNav {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-right: none;
  border-left: none;
  white-space: nowrap;
}

div#sidebar div.spaceNav div.spaceNavItem a {
  text-decoration: none;
  outline: none;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  display: inline-block;
  width: 100%;

  transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
}

div#sidebar div.spaceNav div.spaceNavItem a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

div#sidebar div.spaceNav div.spaceNavItem a.active {
    background-color: rgba(0, 0, 0, 0.1);
    pointer-events: none;
    border: 1px solid rgba(0, 0, 0.1);
}
