div#space ul.header {
  text-align: center;
}

div#space ul.header button.close {
  outline: none;
}

div#space form#getUserInSpaceByName {
  text-align: center;
}

div#space div#errorBlock {
  text-align: center;
}
