div#space header.MuiAppBar-root {
  background-color: rgb(100, 100, 200);
}

div#space header.MuiAppBar-root div.MuiToolbar-root {
  justify-content: center;
}

div#space header.MuiAppBar-root p.userName {
  position: absolute;
  left: 0;
  padding: 0 1rem;
}

div#space header.MuiAppBar-root p.spaceName {
  font-weight: bold;
}

div#space header.MuiAppBar-root button.closeSpace {
  position: absolute;
  right: 0;
  color: white;
  outline: none;
}

div#space header.MuiAppBar-root button.closeSpace:hover {
  /* background-color: black; */
}

div#space form#getUserInSpaceByName {
  text-align: center;
}

div#space form#getUserInSpaceByName input {

}

div#space form#getUserInSpaceByName div.textFieldWButton {
  display: inline-flex;
}

div#space form#getUserInSpaceByName div.MuiOutlinedInput-root {
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  -webkit-border-top-right-radius: 0;

  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
}

div#space form#getUserInSpaceByName button {
  outline: none;
  margin-left: -1px;

  border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  -webkit-border-top-left-radius: 0;

  border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
}

div#space div#errorBlock {
  text-align: center;
}
